@model SupplierDocuments.Entities.ViewModels.DocumentFilter

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Supplier", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Search Documents</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.SupplyingRegions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SupplyingRegionID, new SelectList(Model.SupplyingRegions, "RegionID", "RegionName")
                    , htmlAttributes: new { @class = "form-control", id = "SupplyingRegions", name= "SupplyingRegions" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SupplyingCountries, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SupplyingCountryID, new SelectList(Model.SupplyingCountries, "CountryID", "CountryName")
                    , htmlAttributes: new { @class = "form-control", id = "SupplyingCountries", name= "SupplyingCountrys" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SupplierTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SupplierTypeID, new SelectList(Model.SupplierTypes, "SupplierTypeID", "TypeName")
                    , htmlAttributes: new { @class = "form-control", id = "SupplierTypes", name= "SupplierTypes" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SupplierLocations, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SupplierLocationID, new SelectList(Model.SupplierLocations, "CountryID", "CountryName")
                    , htmlAttributes: new { @class = "form-control", id = "SupplierLocations", name = "SupplierLocations" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-primary" />
                <input type="button" value="Refresh" class="btn btn-danger" onclick="window.location.href = '/Supplier/Index';" />
            </div>
        </div>
    </div>
    
    <div style="margin-top: 40px;">
        @Html.Partial("_Search", Model.DocumentsList)
    </div>
}
